In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame, read_html

In [3]:
dframe1 = DataFrame({'Key':list('XZYZXX'),'data_set_1':np.arange(6)})
dframe1

  Key  data_set_1
0   X           0
1   Z           1
2   Y           2
3   Z           3
4   X           4
5   X           5

In [12]:
dframe2 = DataFrame({'Key':list('QYZ'),'data_set_2':[1,2,3]})
dframe2

  Key  data_set_2
0   Q           1
1   Y           2
2   Z           3

In [13]:
pd.merge(dframe1,dframe2)

  Key  data_set_1  data_set_2
0   Z           1           3
1   Z           3           3
2   Y           2           2

In [14]:
pd.merge(dframe1,dframe2,on='Key')

  Key  data_set_1  data_set_2
0   Z           1           3
1   Z           3           3
2   Y           2           2

In [15]:
pd.merge(dframe1,dframe2,on='Key',how='left')

  Key  data_set_1  data_set_2
0   X           0         NaN
1   Z           1           3
2   Y           2           2
3   Z           3           3
4   X           4         NaN
5   X           5         NaN

In [16]:
dframe2

  Key  data_set_2
0   Q           1
1   Y           2
2   Z           3

In [17]:
pd.merge(dframe1,dframe2,on='Key',how='right')

  Key  data_set_1  data_set_2
0   Z           1           3
1   Z           3           3
2   Y           2           2
3   Q         NaN           1

In [18]:
pd.merge(dframe1,dframe2,on='Key',how='outer')

  Key  data_set_1  data_set_2
0   X           0         NaN
1   X           4         NaN
2   X           5         NaN
3   Z           1           3
4   Z           3           3
5   Y           2           2
6   Q         NaN           1

In [19]:
dframe3 = DataFrame({'Key':list('XXXYZZ'),'data_set_3':np.arange(6)})
dframe4 = DataFrame({'Key':list('YYXXZ'),'data_set_4':np.arange(5)})

In [20]:
dframe3

  Key  data_set_3
0   X           0
1   X           1
2   X           2
3   Y           3
4   Z           4
5   Z           5

In [21]:
dframe4

  Key  data_set_4
0   Y           0
1   Y           1
2   X           2
3   X           3
4   Z           4

In [22]:
pd.merge(dframe3,dframe4)

  Key  data_set_3  data_set_4
0   X           0           2
1   X           0           3
2   X           1           2
3   X           1           3
4   X           2           2
5   X           2           3
6   Y           3           0
7   Y           3           1
8   Z           4           4
9   Z           5           4

In [23]:
df_left = DataFrame({'key1':['SF','SF','LA'],
                     'key2':['one','two','one'],
                     'left_data':[10,20,30]})
df_left

  key1 key2  left_data
0   SF  one         10
1   SF  two         20
2   LA  one         30

In [24]:
df_right = DataFrame({'key1':['SF','SF','LA','LA'],
                      'key2':['one','one','one','two'],
                      'right_data':[40,50,60,70]})
df_right

  key1 key2  right_data
0   SF  one          40
1   SF  one          50
2   LA  one          60
3   LA  two          70

In [26]:
pd.merge(df_left,df_right,on=['key1','key2'],how='outer')

  key1 key2  left_data  right_data
0   SF  one         10          40
1   SF  one         10          50
2   SF  two         20         NaN
3   LA  one         30          60
4   LA  two        NaN          70

In [27]:
pd.merge(df_left,df_right,on=['key1'])

  key1 key2_x  left_data key2_y  right_data
0   SF    one         10    one          40
1   SF    one         10    one          50
2   SF    two         20    one          40
3   SF    two         20    one          50
4   LA    one         30    one          60
5   LA    one         30    two          70

In [28]:
pd.merge(df_left,df_right,on=['key1'],suffixes=('_lefty','_righty'))

  key1 key2_lefty  left_data key2_righty  right_data
0   SF        one         10         one          40
1   SF        one         10         one          50
2   SF        two         20         one          40
3   SF        two         20         one          50
4   LA        one         30         one          60
5   LA        one         30         two          70

In [ ]:
#http://pandas.pydata.org/pandas-docs/dev/generated/pandas.DataFrame.merge.html