In [1]:
import numpy as np 
from numpy.random import randn

import pandas as pd
from pandas import Series, DataFrame

In [4]:
ser = Series(randn(6),index = [[1,1,1,2,2,2],['a','b','c','a','b','c']])
ser

1  a   -0.178897
   b    0.087189
   c   -0.197474
2  a    0.191771
   b    1.058147
   c    0.658488
dtype: float64

In [5]:
ser.index

MultiIndex(levels=[[1, 2], [u'a', u'b', u'c']],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [6]:
ser[1]

a   -0.178897
b    0.087189
c   -0.197474
dtype: float64

In [7]:
ser[2]

a    0.191771
b    1.058147
c    0.658488
dtype: float64

In [8]:
ser[:,'a']

1   -0.178897
2    0.191771
dtype: float64

In [9]:
dframe = ser.unstack()
dframe

          a         b         c
1 -0.178897  0.087189 -0.197474
2  0.191771  1.058147  0.658488

In [26]:
dframe2 = DataFrame(np.arange(16).reshape((4,4)),index=[list('aabb'),[1,2,1,2]],
                                                 columns=[['NY','NY','LA','SF'],['cold','hot','hot','cold']])
dframe2

      NY      LA   SF
    cold hot hot cold
a 1    0   1   2    3
  2    4   5   6    7
b 1    8   9  10   11
  2   12  13  14   15

In [27]:
dframe2.index.names = ['Index_1','Index_2'] 
dframe2.columns.names = ['City','Temp']
dframe2
# MUST use names instead of name

City              NY      LA   SF
Temp            cold hot hot cold
Index_1 Index_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [28]:
dframe2.swaplevel('City','Temp',axis = 1)

Temp            cold hot     cold
City              NY  NY  LA   SF
Index_1 Index_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [29]:
# sort index_2
dframe2.sortlevel(1)

City              NY      LA   SF
Temp            cold hot hot cold
Index_1 Index_2
a       1          0   1   2    3
b       1          8   9  10   11
a       2          4   5   6    7
b       2         12  13  14   15

In [30]:
# sort index_1
dframe2.sortlevel(0)

City              NY      LA   SF
Temp            cold hot hot cold
Index_1 Index_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [31]:
dframe2.sortlevel(1)

City              NY      LA   SF
Temp            cold hot hot cold
Index_1 Index_2
a       1          0   1   2    3
b       1          8   9  10   11
a       2          4   5   6    7
b       2         12  13  14   15

In [32]:
dframe2.sum(level='Temp',axis=1)

Temp             cold  hot
Index_1 Index_2
a       1           3    3
        2          11   11
b       1          19   19
        2          27   27