In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame, read_html

In [2]:
dframe = DataFrame({'city':['Alma','Brain Head','Fox Park'],'altitue':[3158,3000,2762]})
dframe

   altitue        city
0     3158        Alma
1     3000  Brain Head
2     2762    Fox Park

In [3]:
state_map = {'Alma':'Colorado','Brain Head':'Utah','Fox Park':'Wyoming'}

In [4]:
dframe['state'] = dframe['city'].map(state_map)
dframe

   altitue        city     state
0     3158        Alma  Colorado
1     3000  Brain Head      Utah
2     2762    Fox Park   Wyoming