In [1]:
import numpy as np 
from pandas import Series, DataFrame

import pandas as pd

In [3]:
import webbrowser
website = 'http://en.wikipedia.org/wiki/NFL_win-loss_records'

webbrowser.open(website)

True

In [13]:
nfl_frame = pd.read_clipboard() # Read from the clipboard
nfl_frame

,Rank,Team,Won,Lost,Tied*,Pct.,First Season,Total Games,Conference
0,1,Dallas Cowboys,510,378,6,0.574,1960,894,NFC East
1,2,Chicago Bears,752,563,42,0.570,1920,1357,NFC North
2,3,Green Bay Packers,741,561,37,0.567,1921,1339,NFC North
3,4,Miami Dolphins,443,345,4,0.562,1966,792,AFC East
4,5,Baltimore Ravens,182,143,1,0.560,1996,326,AFC North
5,6,San Francisco 49ers,545,444,14,0.550,1950,1003,NFC West

In [14]:
DataFrame(nfl_frame,columns=['Team','First Season','Total Games'])

                  Team  First Season  Total Games
0       Dallas Cowboys          1960          894
1        Chicago Bears          1920         1357
2    Green Bay Packers          1921         1339
3       Miami Dolphins          1966          792
4     Baltimore Ravens          1996          326
5  San Francisco 49ers          1950         1003

In [16]:
DataFrame(nfl_frame,columns=['Team','First Season','Total Games','Stadium'])

                  Team  First Season  Total Games  Stadium
0       Dallas Cowboys          1960          894      NaN
1        Chicago Bears          1920         1357      NaN
2    Green Bay Packers          1921         1339      NaN
3       Miami Dolphins          1966          792      NaN
4     Baltimore Ravens          1996          326      NaN
5  San Francisco 49ers          1950         1003      NaN

In [18]:
nfl_frame.Team

0         Dallas Cowboys
1          Chicago Bears
2      Green Bay Packers
3         Miami Dolphins
4       Baltimore Ravens
5    San Francisco 49ers
Name: Team, dtype: object

In [19]:
nfl_frame.Won

0    510
1    752
2    741
3    443
4    182
5    545
Name: Won, dtype: int64

In [20]:
nfl_frame.ix[3]

Rank                         4
Team            Miami Dolphins
Won                        443
Lost                       345
Tied*                        4
Pct.                     0.562
First Season              1966
Total Games                792
Conference            AFC East
Name: 3, dtype: object

In [21]:
nfl_frame['Stadium'] = np.arange(6)
nfl_frame

,Rank,Team,Won,Lost,Tied*,Pct.,First Season,Total Games,Conference,Stadium
0,1,Dallas Cowboys,510,378,6,0.574,1960,894,NFC East,0
1,2,Chicago Bears,752,563,42,0.570,1920,1357,NFC North,1
2,3,Green Bay Packers,741,561,37,0.567,1921,1339,NFC North,2
3,4,Miami Dolphins,443,345,4,0.562,1966,792,AFC East,3
4,5,Baltimore Ravens,182,143,1,0.560,1996,326,AFC North,4
5,6,San Francisco 49ers,545,444,14,0.550,1950,1003,NFC West,5

In [22]:
del nfl_frame['Stadium']
nfl_frame

,Rank,Team,Won,Lost,Tied*,Pct.,First Season,Total Games,Conference
0,1,Dallas Cowboys,510,378,6,0.574,1960,894,NFC East
1,2,Chicago Bears,752,563,42,0.570,1920,1357,NFC North
2,3,Green Bay Packers,741,561,37,0.567,1921,1339,NFC North
3,4,Miami Dolphins,443,345,4,0.562,1966,792,AFC East
4,5,Baltimore Ravens,182,143,1,0.560,1996,326,AFC North
5,6,San Francisco 49ers,545,444,14,0.550,1950,1003,NFC West

In [23]:
data = {'City':['SF','LA','NYC'],'Population':[837000,38800000,8400000]}
data

{'City': ['SF', 'LA', 'NYC'], 'Population': [837000, 38800000, 8400000]}

In [24]:
city_frame = DataFrame(data)
city_frame

  City  Population
0   SF      837000
1   LA    38800000
2  NYC     8400000

In [ ]:
website = 'http://pandas.pydata.org/pandas-docs/dev/generated/pandas.DataFrame.html'