In [2]:
import numpy as np 
from pandas import Series, DataFrame

import pandas as pd
from numpy.random import randn

In [4]:
ser1 = Series([1,2,3,4],index= ['A','B','C','D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [5]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])
ser2

A     1
B     2
C     3
D     4
E   NaN
F   NaN
dtype: float64

In [11]:
ser2.reindex(['A','B','C','D','E','F','G'],fill_value = 0)

A     1
B     2
C     3
D     4
E   NaN
F   NaN
G     0
dtype: float64

In [10]:
ser2 # no change for ser2

A     1
B     2
C     3
D     4
E   NaN
F   NaN
dtype: float64

In [14]:
ser3 = Series(['USA','Mexico','Canada'],index = [0,5,10])
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [15]:
ranger = range(15)
ranger

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [16]:
ser3.reindex(ranger)

0        USA
1        NaN
2        NaN
3        NaN
4        NaN
5     Mexico
6        NaN
7        NaN
8        NaN
9        NaN
10    Canada
11       NaN
12       NaN
13       NaN
14       NaN
dtype: object

In [17]:
ser3.reindex(ranger,method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [19]:
dframe = DataFrame(randn(25).reshape((5,5)),index = ['A','B','D','E','F'], 
                   columns=['cal1','cal2','cal3','cal4','cal5'])
dframe

       cal1      cal2      cal3      cal4      cal5
A  0.463644 -2.259173 -0.825330  0.227703  0.936149
B -0.056193 -0.051107 -0.935115 -0.807525 -0.180707
D -1.084751 -1.632557  0.562906 -1.119908 -0.103443
E -2.084308 -0.055141  0.547448 -0.149421 -0.715821
F  1.474124  0.223796 -1.465784  1.031706  1.157569

In [21]:
dframe2 = dframe.reindex(['A','B','C','D','E','F'])
dframe2

       cal1      cal2      cal3      cal4      cal5
A  0.463644 -2.259173 -0.825330  0.227703  0.936149
B -0.056193 -0.051107 -0.935115 -0.807525 -0.180707
C       NaN       NaN       NaN       NaN       NaN
D -1.084751 -1.632557  0.562906 -1.119908 -0.103443
E -2.084308 -0.055141  0.547448 -0.149421 -0.715821
F  1.474124  0.223796 -1.465784  1.031706  1.157569

In [22]:
new_col = ['cal1','cal2','cal3','cal4','cal5','cal6']
dframe2.reindex(columns=new_col)

       cal1      cal2      cal3      cal4      cal5  cal6
A  0.463644 -2.259173 -0.825330  0.227703  0.936149   NaN
B -0.056193 -0.051107 -0.935115 -0.807525 -0.180707   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -1.084751 -1.632557  0.562906 -1.119908 -0.103443   NaN
E -2.084308 -0.055141  0.547448 -0.149421 -0.715821   NaN
F  1.474124  0.223796 -1.465784  1.031706  1.157569   NaN

In [23]:
dframe

       cal1      cal2      cal3      cal4      cal5
A  0.463644 -2.259173 -0.825330  0.227703  0.936149
B -0.056193 -0.051107 -0.935115 -0.807525 -0.180707
D -1.084751 -1.632557  0.562906 -1.119908 -0.103443
E -2.084308 -0.055141  0.547448 -0.149421 -0.715821
F  1.474124  0.223796 -1.465784  1.031706  1.157569

In [25]:
dframe.ix[['A','B','C','D','E','F'],new_col]

       cal1      cal2      cal3      cal4      cal5  cal6
A  0.463644 -2.259173 -0.825330  0.227703  0.936149   NaN
B -0.056193 -0.051107 -0.935115 -0.807525 -0.180707   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -1.084751 -1.632557  0.562906 -1.119908 -0.103443   NaN
E -2.084308 -0.055141  0.547448 -0.149421 -0.715821   NaN
F  1.474124  0.223796 -1.465784  1.031706  1.157569   NaN